@model IEnumerable<QuanLiKyTucXa.Models.HoaDonPhong>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MssvNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MssvNavigation.Mssv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHoaDon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHoaDon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHoaDon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
