@model IEnumerable<QuanLiKyTucXa.Models.PhieuDangKy>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý phiếu đăng ký</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHoSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            Mã sinh viên
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>    
                @Html.DisplayFor(modelItem => item.MaHoSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MssvNavigation.Mssv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHoSo">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaHoSo">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHoSo">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
