@model QuanLiKyTucXa.Models.PhieuDangKy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhieuDangKy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MssvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MssvNavigation.Mssv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHoSo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
