@model QuanLiKyTucXa.Models.HoaDon

@{
    ViewData["Title"] = "Delete";
}

<h1>Xoá Hoá Đơn</h1>

<h3>Bạn có chắc muốn xoá hoá đơn này?</h3>
<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChiSoDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiSoDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiSoCuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiSoCuoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MpNavigation.KhuVuc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHoaDon" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
