@model QuanLiKyTucXa.Models.SinhVien

@{
    ViewData["Title"] = "Details";
}

@{
    QlktxContext db = new QlktxContext();
    SelectList DSHD = new SelectList(db.HoaDonPhongs.Where(a => a.Mssv == Model.Mssv).ToList(), "MaHoaDon", "MaHoaDon");
}

<h1>Thông tin chi tiết sinh viên</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @if (Model.GioiTinh)
            {
                <span>Nam</span>
            }
            else
            {
                <span>Nữ</span>
            }


        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Khoa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Khoa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoGiuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoGiuong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MpNavigation.Mp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
    </dl>
    <div>
        <label for="maHoaDon">Chọn Mã Hóa Đơn:</label>
        <select id="maHoaDon" class="form-control" onchange="xemChiTietHoaDon()">
            <option value="">-- Chọn Mã Hóa Đơn --</option>
            @{
                foreach (var hoaDon in Model.HoaDonPhongs)
                {
                    <option value="@hoaDon.MaHoaDon">@hoaDon.MaHoaDon</option>
                }
            }
        </select>
        <table class="table">
             <tr>
                <td rowspan="4" id="xemHd"></td>
             </tr>
        </table>
    </div>


</div>


<div>
    <a asp-action="Edit" asp-controller="SinhViens" asp-area="Admin" asp-route-id="@Model?.Mssv">Edit</a> |
    <a asp-action="Index" asp-controller="SinhViens" asp-area="Admin">Quay lại</a>
</div>

<script type="text/javascript">
    function xemChiTietHoaDon() {
        const mals = document.getElementById("maHoaDon").value;

        // Create an XMLHttpRequest object
        const xhttp = new XMLHttpRequest();

        // Define a callback function
        xhttp.onload = function () {
            // Here you can use the Data
            // //nhan gia tri tra ve
            document.getElementById("xemHd").innerHTML = xhttp.responseText;
            console.log(xhttp.responseText);
        }

        // Send a request
        const strUrl = "GetHoaDonDetails?maHoaDon=" + mals;
        xhttp.open("GET", strUrl);
        xhttp.send();
    }
</script>